#SportCardsCustomizerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    align-items: center;
}

#myCanvas {

}

#SportCardsCustomizerFieldsContainer {
    width: 70%;
}

.SportCardsCustomizerField {

}