#SportCardsCustomizerWrapper {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    background-color: #eee;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

#myCanvas {
    background-color: #ddd;
    border-radius: 10px;
}

#SportCardsCustomizerFieldsContainer {
    margin-left: 20px;
    width: 70%;
}

.FieldContainer {
    display: flex;
    width: 100%;
    margin: 5px 0px;
}

.FieldContainer__label {
    width: 30% !important;
}

.FieldContainer__field, .FieldContainer__field--cards {
    width: 70% !important;
    padding: 5px;
}

.FieldContainer__field--cards {
    display: flex;
    overflow: auto;
}

.CardImage {
    width: 50px;
    margin: 5px;
}

#PriceContainer {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

#PriceContainer__price {
    font-weight: normal;
    margin-left: 20px;
}