#SportCardsCustomizerWrapper {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    padding: 20px;
    border-radius: 10px;
    align-items: flex-start;
    background-color: transparent;
}

#myCanvas {
    border-radius: 10px;
    max-width: -webkit-fill-available;
}

#SportCardsCustomizerFieldsContainer {
    margin-left: 20px;
}

.FieldContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}

.FieldContainer__label,
.FieldContainer__field {
    width: 100%;
    padding: 5px;
}

.FieldContainer__field--cards {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    height: 180px;
    width: 300px;
}

.CardImage {
    width: 60px;
    cursor: pointer;
    margin: 5px;
}

#PriceContainer {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-top: 20px;
}

#PriceContainer__price {
    font-weight: normal;
    margin-left: 20px;
}

#image-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    box-sizing: border-box;
}

#cropped-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

#modal-close {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#modal-close:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    #image-modal {
        width: 90%;
        max-width: none;
    }

    #cropped-image {
        max-width: 100%;
    }

    #SportCardsCustomizerWrapper {
        flex-direction: column;
    }

    .FieldContainer__field--cards {
        width: 270px;
    }

    #myCanvas {
        max-width: -webkit-fill-available;
    }
}

.SectionContainer {
    margin: 30px 0;
}

.SectionContainerItems {
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.SectionContainerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.SectionContainerHeader__title {
    font-size: 18px;
    font-weight: bold;
}

.SectionContainerHeader__add-new {
    background-color: #45a049;
    color: white;
    padding: 5px 15px;
    text-align: center;
    font-weight: bold;
}

.SectionContainerHeader__add-new:hover,
.ItemContainer__item-delete:hover {
    cursor: pointer;
}

.ItemContainer {
    margin: 5px;
    width: 100px;
}

.ItemContainer__item-name {
    background-color: #45a049;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.ItemContainer__item-image {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

.ItemContainer__item-delete {
    color: red;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 200px;
    left: 300px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
}

.close-modal {
    float: right;
    cursor: pointer;
}

#skills-inputs-container {
    display: flex;
    flex-direction: column;
}

.price-color-picker {
    display: flex;
    align-items: center;
}

#selectedColor {
    border: 1px solid;
}

#image-input-label {
    font-size: 18px;
    font-weight: 400;
    border: 1px solid;
    width: fit-content;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 15px;
    display: block;
    text-align: center;
}

#image-input-label:hover {
    opacity: 0.8;
}

.stat-inputs-container {
    display: flex;
    gap: 20px;
}

.stat-inputs-container:first-of-type {
    margin-right: 20px;
}

.stat-input-container input {
    width: 70px;
    display: flex;
    flex-direction: column;
}

.image-input-wrap {
    width: auto;
}

.color-input-wrap {
    margin-left: 25px;
}

#addToCartBtn {
    width: -webkit-fill-available;
    color: white;
    border: none;
    background: #FF6000;
    font-size: 16px;
}

#addToCartBtn:hover {
    background: #e65600;
}

#addToCartBtn:disabled {
    background: gray;
}


/* TODO */

.MaterialField {
    display: flex;
    gap: 10px;
  }

  .selected {
    background-color: #ddd !important;
  }
  
  .material-option {
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #D1D5DB;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .SizeField {
    display: flex;
    gap: 10px;
  }
  
  .size-option {
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #D1D5DB;
    padding: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
  }
  